<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ directory.name }}</title>
  </head>
  <body>
    <h1>
      Directory <b>{{ directory.name }}</b> with {{ directory.item_amount }}
      amount of items
    </h1>
    <h2>Items</h2>
    {% for item in items %}
    <ul>
      <li>
        File Name: {{ item.filename }} File Size(Bytes): {{item.filesize}}
        Filetype: {{ item.filetype }} {% if item.isDirectory %}
        <!-- TODO: FIX THE HREF FOR OPENING DIRECTORIES-->
        <a
          href="{{request.url_for('browse', current_directory= directory.name + '/' + item.filename )}}"
          >access directory</a
        >
        {% endif %}
      </li>
    </ul>
    {% endfor %}
  </body>
</html>
