<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/css/browse.css" />
    <title>{{ directory.name.split('/')[-1] }}</title>
  </head>
  <body>
    <div class="breadcrumbs">
      {% for path in directory.paths|reverse %} {% if path == directory.name %}
      <span>{{ path.split('/')[-1] }}</span>
      {% else %}
      <a href="{{request.url_for('browse', current_directory=path)}}"
        >{{ path.split('/')[-1] }}</a
      ><span>/</span> {% endif %} {% endfor %}
    </div>
    {% if items %}
    <table>
      <th>No.</th>
      <th>Filename</th>
      <th>Filesize</th>
      <th>Filetype</th>
      <!-- currently count doesnt count up -->
      {% set count = 0 %} {% for item in items %} {% set count = count + 1 %}
      <tr>
        <td>{{ count }}</td>
        <td>
          {% if item.isDirectory %}
          <!-- make current_diretory cleaner for accessing directories-->
          <a
            href="{{request.url_for('browse', current_directory=directory.name + '/' + item.filename)}}"
            >{{ item.filename }}</a
          >{% else %} {{ item.filename }} {% endif %}
        </td>
        <td>{{ item.filesize }}</td>
        <td>{{ item.filetype }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>no items</p>
    {% endif %}
  </body>
</html>
