<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/css/browse.css" />
    <title>{{ directory.name.split('/')[-1] }}</title>
  </head>
  <body>
    <div class="breadcrumbs">
      <span>$</span>
      {% for path in directory.paths|reverse %} {% if path == directory.name %}
      <span>{{ path.split('/')[-1] }}</span>
      {% else %}
      <a href="{{request.url_for('browse', current_directory=path)}}"
        >{{ path.split('/')[-1] }}</a
      ><span>></span> {% endif %} {% endfor %}
    </div>
    {% if items %}
    <table>
      <tr class="head">
        <th>No.</th>
        <th>Filename</th>
        <th>Filesize</th>
        <th>Filetype</th>
      </tr>
      {% for item in items %}
      <tr class="data">
        <td>{{ loop.index }}</td>
        <td>
          {% if item.isDirectory %}
          <a
            class="directory"
            href="{{request.url_for('browse', current_directory=directory.name + '/' + item.filename)}}"
            >/{{ item.filename }}</a
          >{% else %} {{ item.filename }} {% endif %}
        </td>
        <td>{{ item.filesize }}</td>
        <td>{{ item.filetype }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>no items</p>
    {% endif %}
    <div>
      <a href="{{request.url_for('upload', directory=directory.full_dir)}}"
        >[ Upload ]</a
      >
    </div>
  </body>
  <script src="/static/js/browse.js"></script>
</html>
